h1{
    text-align: center;
    color: blue;
    padding: 40px;
    border: 50px;
    background-color: bisque;
}
h2{
    text-align: center;
    color: blue;
    width: 300px;
    padding: 50px;
}
img {
    display: block;
    margin: 0 auto;
    border: 30px solid rgb(65, 225, 169);


}